/* General styles */
body {
  background-color: #afb2bc;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
  background-color: black;
  border-bottom: 1px solid white;
}

button {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 2rem 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1;
}

.listItem {
  background-position: center;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: contain;
  list-style-type: disc;
  list-style-position: inside;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem > span {
  flex: 1;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 2rem;
  font-weight: 500;
}

.completedTask {
  opacity: 0.5;
  text-decoration: line-through;
  font-style: italic;
}

.editTask {
  background-color: rgb(255, 255, 255);
  min-width: 90%;
  font-size: 1rem;
}

.checkbox {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.editTask {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: text;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer {
  text-align: center;
  text-indent: 2.5rem;
}

.newTask {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  width: 20rem;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.addButton {
  background-color: green;
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: rgb(4, 213, 220);
}

.addButton:active {
  background-color: rgb(0, 220, 0);
  color: blue;
  border: 1px solid black;
}

.removeButton {
  background-color: rgb(220, 4, 4);
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: rgb(4, 98, 220);
}

.removeButton:active {
  background-color: rgb(255, 10, 255);
  border: 1px solid black;
  color: blue;
}

.completedTaskTitle {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  background-color: black;
  border-bottom: 1px solid white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  h1, h2 {
    font-size: 2vw; /* Use viewport width units */
  }

  button {
    font-size: 1.5vw; /* Use viewport width units */
  }

  .listItem > span {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.5vw; /* Use viewport width units */
  }

  .footer {
    font-size: 1.5vw; /* Use viewport width units */
  }

  .newTask {
    width: 25%;
    font-size: 2vw; /* Use viewport width units */
  }

  .addButton, .removeButton {
    font-size: 2vw; /* Use viewport width units */
    padding: 0.5rem;
  }

  .completedTaskTitle {
    font-size: 2.5vw; /* Use viewport width units */
  }
}

@media (max-width: 480px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  h1, h2 {
    font-size: 3vw; /* Use viewport width units */
  }

  .listItem > span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3vw; /* Use viewport width units */
  }

  .newTask {
    width: 25%;
    font-size: 2.5vw; /* Use viewport width units */
  }

  .addButton, .removeButton {
    font-size: 2.5vw; /* Use viewport width units */
    padding: 0.4rem;
  }

  .completedTaskTitle {
    font-size: 3vw; /* Use viewport width units */
  }
}