/* General styles */
body {
  background-color: #afb2bc;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Timestamp styles */
.timestamp {
  font-size: 0.85rem; 
  font-family: 'Arial', sans-serif; 
  color: #555; 
  font-style: italic; 
  margin: 1rem;
}

/* Media Queries */
@media (max-width: 430px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .editDiv {
    display: flex;
    flex-direction: column !important;
    align-items: center; /* Center horizontally */
  }

  .editContainer {
    max-width: fit-content;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }

  .h1, .h2 {
    font-size: 1.5rem;
  }

  .listItem {
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }

  .listItem > span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }

  .newTask {
    width: 90%;
    font-size: 1rem;
  }

  .addButton, .removeButton {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .completedTaskTitle {
    font-size: 1.2rem;
  }

  .timestamp {
    font-size: 0.7rem; 
    font-family: 'Arial', sans-serif; 
    color: #555; 
    font-style: italic; 
  }

  .inputContainer {
    width: 90%; /* Adjust width for smaller screens */
    padding: 0.5rem; /* Add padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .editDiv {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .editContainer {
    max-width: fit-content;
  }

  .h1, .h2 {
    font-size: 2rem;
  }

  button {
    font-size: 1.2rem;
  }

  .listItem > span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
  }

  .footer {
    font-size: 1.2rem;
  }

  .newTask {
    width: 80%;
    font-size: 1.2rem;
  }

  .completedTaskTitle {
    font-size: 1.5rem;
  }
}

/* Media Queries */
@media (min-width: 1024px) {
  .taskTitle {
    font-size: 1rem; /* Adjust the size as needed */
  }
}

.architects-daughter-regular {
  font-family: 'Roboto', cursive;
  font-weight: 400;
  font-style: normal;
}

.addButton {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #419c46;
}

.addButton:active {
  background-color: #50ea58;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #007BFF; /* Blue background color */
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.editButton:hover {
  background-color: #0069d9; /* Darker blue on hover */
}

.editButton:active {
  background-color: #0056b3; /* Even darker blue on active */
}

.editDiv {
  display: flex;
  flex-direction: row;
  margin-left: 25vw;
  justify-content: center;
  align-items: center;
}

.checkbox {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for smooth effect */
}

.completedTask {
  opacity: 0.5;
}

.completedTaskTitle {
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
  background-color: black;
  border-bottom: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.createdAt, .updatedAt {
  font-family: 'Arial', sans-serif; /* Change to desired font */
  font-size: 0.8rem; /* Change to desired size */
  color: #333; /* Optional: Change text color */
  font-style: italic; /* Optional: Italic style */
  text-align: center; /* Center the text horizontally */
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 2rem 0;
}

div.error {
  background-color: antiquewhite;
  font-style: italic;
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: center;
}

.editDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.editContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editLabel {
  text-align: center;
  margin-left: 1rem;
  font-size: 1rem;
  color: #555;
}

.editTask {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: text;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.inputContainer {
  text-align: center;
}

.listItem {
  background-position: center;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: contain;
  list-style-type: disc;
  list-style-position: inside;
  border: 1px solid black;
  display: flex;
  flex-direction: row; /* Flex direction is row */
  justify-content: space-between;
  align-items: center; /* Align items to the center vertically */
  margin: 0rem;
  padding: 0rem;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.listItem:hover,
.listItem:hover > * {
  background-color: #ebf79f;
}

/* Override for the remove button */
.listItem:hover .removeButton {
  background-color: red; 
}

.listItem:hover .editButton {
  background-color: blue;
}

.newTask {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 20rem;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.overdue {
  color: red !important;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.removeButton {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: rgb(255, 10, 10);
}

.removeButton:active {
  background-color: rgb(255, 10, 255);
  border: 1px solid black;
  color: blue;
}

.sortSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.sortSection label {
  margin-right: 0.5rem;
}

.sortSection select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.taskActions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0.5rem;
}

.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  background-color: #faebd6;
  transition: background-color 0.3s ease;
}

.taskTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.timestampContainer {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  width: 200px; /* Set a fixed width */
}

.timestamp {
  font-size: 0.85rem;
  font-family: 'Arial', sans-serif;
  color: #555;
  font-style: italic;
  margin: 1rem 0; /* Adjust margin to add spacing between timestamps */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1;
}

.projectTitle {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}